server:
  port: 20004

spring:
  application:
    name: gateway-platform
  cloud:
    # gateway 配置
    gateway:
      globalcors:
        cors-configurations:
          # 针对所有地址配置跨域
          '[/**]':
            # 设置运行跨域的地址，也可以使用 * 代替允许所有地址
            allowedOrigins:
              - "http://localhost:8080"
              - "*"
            # 是否运行携带 cookie 相关信息
            allowCredentials: true
            # 允许访问所有的 http 请求方式，如 get、post
            allowedMethods: "*"
            allowedHeaders: "*"
            # 可以暴露给前端用户的 headers
            exposedHeaders: "*"
            # Options 可以在浏览器缓存多少时间
            maxAge: 600
      discovery:
        # 定位器: 自动创建路由规则
        locator:
          # 会去拉取所有注册的服务，并且自动添加路由规则
          # 生产环境关闭这个：不自动生成默认的路由规则
          enabled: false
          # 将 eureka 上获取的服务名转成小写
          lower-case-service-id: true
      # RouteDefinition 中的属性
      # 路由规则 在代码中配置
      # routes:

  redis:
    host: localhost
    port: 6379
    database: 0

  zipkin:
    # 启用服务发现
    discovery-client-enabled: true
    base-url: http://ZIPKIN-SERVER/
    # 启用通过服务发现定位主机名
    locator:
      discovery:
        enabled: true
  sleuth:
    sampler:
      probability: 1

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
